<div class="row">
  <div class="col-md-2 my-2" *ngFor="let product of products">
    <div class="card">
      <img *ngIf="!product.productImageFiles.length"
        src="../../../../../assets/default-product.jpg"
        class="card-img-top "
        style="height: 200px;"
        alt="..."
      />
      <img *ngIf="product.productImageFiles.length"
        src="{{product.imagePath}}"
        class="card-img-top "
        style="height: 200px;"
        alt="..."
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text text-start">
          Fiyat : {{ product.price | currency : "₺" }} <br />
          Stok  : {{ product.quantity }}
        </p>
        <a  class="btn btn-primary" (click)="addToBasket(product)">Sepete Ekle</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 mx-auto">
    <nav aria-label="Page navigation example mx-auto">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            [routerLink]="[
              '/products',
              currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1
            ]"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let pageNo of pageList" routerLinkActive="active">
          <a class="page-link" [routerLink]="['/products', pageNo]">
            {{ pageNo }}
          </a>
        </li>

        <li class="page-item">
          <a
            class="page-link"
            [routerLink]="[
              '/products',
              currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1
            ]"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
